@import '/Rain-Support-Tools/css/default.css';

h1,h2{
    text-align: center;
}

h2{
    font-size: 30px;
    border: 3px solid #000;
    border-style: grooved;
    background: #d2d2d2;
    margin: unset;
}

h2::after{
    content: '\02C3';
}

h2.open::after{
    content: '\02C5';
}

.body-container{
    width: 60%;
    margin: 0 auto;
}


.container .content{
    display: none;
}

.container h2.open + .content{
    display: block;
}

.content{
    width: 99%;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    background-color: #fff;
    padding: 5px 0;
}

.content table{
    margin: 0 auto;
    td input{
        width: 300px;
    }
}