body{
    overflow-x: hidden;
}
#userInput{
    height: 100%;
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 0px;
    width: 300px;
}
#userInput .container{
    width: 90%;
    float: right;
    height: 100%;
    background-color:antiquewhite;
}
#userInput #panelToggle{
    float: left;
    width: 30px;
    height: 30px;
    background-color: #918b8b;
    cursor: pointer;
}
#panelToggle hr{
    background-color: #000;
    height: 4px;
    margin: unset;
}
#panelToggle{
    font-size: 26px;
}
#userInput.closed{
    transform: translateX(270px);
    transition-duration: 1s;
}
#userInput.open{
    transform: translateX(0px);
    transition-duration: 1s;
}
#userInput textarea{
    width: 100%;
    height: 95%;
}
#userInput .container h2{
    color: #000;
}
.container input[type="color"]{
    width: 50px;
    height: 50px;
}