@import '/Rain-Support-Tools/css/default.css';
@import '/Rain-Support-Tools/common/flow-format/flow-format.css';
@import '/Rain-Support-Tools/modules/dialog-ctrl.css';
.ticket-check {
        position: absolute;
        top: 0;
        z-index: 3;
        background-color: #fefefe;
        width: 98%;
    input {
        width: 17px;
        height: 17px;
        transform: translateY(4px);
    }
}
#associated-info-content{
    padding-top: 33px;
    height: 180px;
    overflow: hidden;
    div {
        transition-duration: .5s;
        width: 99%;
        position: absolute;
        background-color: #fefefe;
    }
    .visible {
        transition-duration: .5s;
    }
    .hidden#associated-ticket {
        transform: translateY(-150px);
    }
    .hidden#ticket-reason {
        transform: translateY(200px);
    }
}