@import '/Rain-Support-Tools/css/default.css';

h1,h2{
    text-align: center;
}

.hide{
    display: none;
}

.body-container{
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}
@media(max-width:1089px){
    .body-container{
        width: 98%;
    }
}

::placeholder{
    color: #AAAAAA;
}

/*tabs formatting*/
div#info-tabs{
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

div#info-tabs div{
    margin: 5px;
    cursor: default;
    text-align: center;
    color: #EEEEEE;
    border-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    > div{
        background-color: #EEEEEE;
        color: #000;
        flex-direction: column;
    }
}

.step-circle{
    font-size: 20px;
    border: #000 solid 1px;
    border-radius: 21px;
    width: 40px;
    height: 40px;
}

div#info-tabs div.active{
    color: #4C8BC0;
    > div{
        border-color: #4C8BC0;
        background-color: #fff;
    }
}

div#info-tabs div.complete{
    color: #4C8BC0;
    > div{
        border-color: #4C8BC0;
        background-color: #4C8BC0;
        color: #fff;
    }
}

.container{
    width: 99%;
    margin: 0 auto;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #fff;
    padding: 5px 0;
    > div{
        display: none;
        padding: 5px;
        border: #DDDDDD solid 1px;
        border-radius: 5px;
    }
}
.container .active{
    display: block;
}

#description textarea,#examples textarea,#errors textarea{
    margin: 0px auto;
}
/*data content styling*/
input[type="text"]:focus,textarea:focus,select:focus{
    border-color: #337AB7;
    outline: none;
}
textarea{
    resize: none;
    width: 99%;
    height: 100px;
    border-color:#DDDDDD;
    border-radius: 4px;
}
div[data]{
    padding: 10px;
}
input{
    width: 98%;
    height: 25px;
    margin-bottom: 16px;
    border: #DDDDDD solid 1px;
    border-radius: 4px;
}
div[action-selector]{
    height: 40px;
    margin: 5px 0;
    div{
        text-align: center;
        border: #DDDDDD solid 1px;
        float: left;
        width: 33%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}
div[action]:first-child{
    border-radius: 4px 0 0 4px;
}
div[action]:last-child{
    border-radius: 0 4px 4px 0;
}
div[action].selected{
    color: #337ab7;
    border-color: #337AB7;
    background-color: #D8EDF7;
}

div[table-controls]{
    text-align: center;
}

table{
    width: 99%;
}
/*flow progression buttons*/
div[flow-controls]{
    height: 30px;
}

/*ticket styling*/
div#ticket-container{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 98vw;
    height: 100vh;
}

#ticket-container > div{
    width: 620px;
    margin: 60px auto;
    background-color: #ffffff;
    padding: 8px 16px;
    border-radius: 10px;
    border: #DDDDDD solid 1px;
}

#ticket-container > div textarea{
    width: 615px;
    height: 600px;
}

[ticket-buttons]{
    text-align: right;
}
/*dns selector styling*/
select.dns-selector{
    width: 120px;
    height: 30px;
    border-radius: 8px;
}
/*record table styles*/
div.data-input{
    border: solid 1px #dddddd;
    height: 25px;
    margin-bottom: 16px;
    background-color: #fafafa;
    border-radius: 4px;
    padding: 1px 5px;
    font-weight: normal;
    display: flex;
    align-items: center;
}
div.data-input:hover{
    cursor: pointer;
}
div[data="2"] > div > table{
    td:first-child{
        width: 5px;
        span:hover{
            cursor: pointer;
        }
    }
    td:nth-child(2){
        width: 80px;
    }
}
/*correct-record styles*/
#correct-record-table > tbody > tr > td{
    display: flex;
    align-items: center;
    width: 100%;
}
#correct-record-table tbody tr tbody tr{
    td{
        width: unset;
    }
    td:first-child{
        width: 75px;
    }
    td:last-child{
        width: 80px;
    }
}
/*confirmation styling*/
data{
    display: block;
    padding: 16px;
}
data div{
    border: #000 solid 1px;
    margin: 8px 0;
    padding: 8px;
}
data div.correct-record{
    display: flex;
}
data div.correct-record > div{
    border: #000 solid 1px;
    margin: 8px;
    padding: 8px;
    width: 50%;
}
/*start edit value styling*/
#record-entry-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #747171b5;
}
#record-entry-box {
    width: 500px;
    padding: 16px;
    border-radius: 8px;
    background-color: #ffffff;
    margin: 0px auto;
    top: 15%;
    position: relative;
}