@import '/Rain-Support-Tools/css/default.css';

.import{
    position: absolute;
    z-index: 5;
    width: 50%;
    height: 60%;
    background-color: #9c9999;
    left: 30%;
    top: 10%;

    textarea{
        width: 95%;
        height: 90%;
    }
}
.mainContainer{
    width: 85%;
    margin: 0 auto;

    .mainContent > div{
        width: 33%;
        float: left;

        > textarea{
            height: 600px;
            width: 355px;
        }
    }
}
.hide{
    display: none;
}