#inputTable td {
    border-top: #000 solid 2px;
    border-bottom: #000 solid 2px;
    border-right: #000 solid 2px;
}
#inputTable td:first-child {
    border-left: #000 solid 2px;
}
td {
    width: 70px;
    height: 21px;
    float: left;
}
thead td {
    height: 55px;
}
input {
    width: 63px;
}
input[disabled] {
    border: none !important;
}
#inputTable {
    width:540px;
    float: left;
}
#btn-totals {
    width: 155px;
    float: left;
    margin-top: 40px;
    margin-left: 40px;
}
#btn-totals tr td {
    border-top:#000 solid 2px;
    border-right:#000 solid 2px;
    border-bottom:#000 solid 2px;
}
#btn-totals tr td:first-child {
    border-left:#000 solid 2px;
}
div.totals {
    width: 475px;
    float: left;
}
div.totals div {
    float: left;
    /*width: 50%;*/
}