@import '/Rain-Support-Tools/common/actions/popup.css';
@import '/Rain-Support-Tools/css/default.css';
body{
    background-color: #808080;
}
.hide{
    display: none;
}
#input-values {
    border: #000 5px solid;
    min-height: 277px;
    position: relative;
    z-index: 2;
}
#input-values > table table {
    float: left;
}
.site-fix-ticket {
    width: 100%;
    float: left;
}
textarea {
    height: 75px;
    width: 197px;
}
#site-fix-ticket {
    min-height: 590px;
    width: 900px;
}
/*Generated Ticket Popup*/
div.container.generated_popup{
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #808080db;
}
.container.generated_popup > #generated_popup{
    width:60%;
    margin: 30px auto;
    border: solid 5px #000;
    background-color: #808080;
}
/*basic info*/
table#store_info label{
    display: block;
    width: 100%;
    text-align: right;
}
/*page info*/
table#pages_info label{
    display: block;
    width: 100%;
    text-align: center;
}
table#page_list textarea{
    width: 500px;
    height: 50px;
}
table#page_list input[type="button"]{
    position: absolute;
}
span.delete-btn:hover{
    cursor: pointer;
}