#input-values {
    width: 100%;
    border: #000 5px solid;
    min-height: 277px;
}
#input-values > table table {
    float: left;
}
.bug-glitch-ticket {
    width: 100%;
    float: left;
}
textarea {
    height: 75px;
    width: 197px;
}
#input_error {
    display: none;
    color: red;
}
#bug-glitch-ticket {
    min-height: 990px;
    width: 925px;
}
div.reset-popup{
    background-color: #808080;
    position:absolute;
    left:40%;
    top: 30%;
}
/*Generated Ticket Popup*/
div.container.generated_popup{
    position: absolute;
    z-index: 2;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #808080db;
}
.container.generated_popup > #generated_popup{
    width:80%;
    margin: 0px auto;
    border: solid 5px #000;
    background-color: #808080;
}
/*Number of Steps Popup*/
div.container.steps_popup{
    position: absolute;
    z-index: 2;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: #808080db;
}
.container.steps_popup > #steps_popup{
    width:80%;
    margin: 0px auto;
    border: solid 5px #000;
    background-color: #808080;
    top: 115px;
    position: relative;
    min-height: 400px;
}
/*steps table*/
#steps-table{
    width: 40%;
    background-color: #fff;
    margin: 10px auto;
}
#steps-table > table{
    width: 100%;
}
#steps-table > table tr td:nth-child(2) input {
    width: 90%;
}
#steps-table > table tr td:last-child span{
    cursor: pointer;
}