@import '/Rain-Support-Tools/common/css/default.css';
@import '/Rain-Support-Tools/common/flow-format/flow-format.css';

.container > div{
    display: block;
}

[check-list] .good{
    color: #adff2f;
}
[check-list] .bad{
    color: #ec0a0a;
}