@import '/Rain-Support-Tools/src/common/css/default.css';
.rto-header {
    width: 100%;
    text-align: center;
}
.rto-data {
    width: 45%;
    background-color: #fff;
    border-radius: 4px;
    margin: 0 auto;
    padding: 16px;
}
.rto-inputs{
    display: flex;
}
.rto-input{
    width: 250px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    input {
        width: 100%;
        border-radius: 16px;
        height: 16px;
    }
}
.rto-table {
    width: 100%;
    margin: 10px;
    background: #fff;
}
.rto-table th{
    border-right: 1px solid #000;
}
.rto-table th:first-child{
    border-left: 1px solid #000;
}
.rto-table td{
    border-right: 1px solid #000;
}
.rto-table td:first-child{
    border-left: 1px solid #000;
}