dialog{
    margin: 0 auto;
    top: 60px;
    width: 450px;
    min-height: 60px;
    padding: 16px;
    background-color: #ffffff;
    border: 3px solid #000;
    border-radius: 16px;
}
dialog::backdrop{
    background-color: #5c5c5c;
    opacity: 60%;
}
dialog #modal-content{
    padding-bottom: 10px;
}
dialog #dialog-text{
    padding: 16px 8px;
}
dialog #dialog-text ul{
    list-style: decimal
}
dialog #dialog-text ul li{
    padding: 2px 0px;
}
dialog #buttons{
    text-align: right;
}
dialog #buttons button{
    margin: 0 4px;
}
dialog #buttons button.btn{
    border-color: #000000;
}