@import '/Rain-Support-Tools/src/common/css/default.css';
/*page containers*/
div#transactions{
    width: 900px;
    float: left;
    margin: 0px 5px;
}
div#rates{
    width: 400px;
    display: flex;
    flex-direction: column;
    float: left;
}
div#rates #rateTables, div#rates #amexSelector{
    float: left;
}
div#totals{
    width: 100%;
}
/*table styles*/
table{
    border-spacing: 0px;
}
table thead th, table tbody td{
    border-right: 2px #000 solid;
    border-top: 2px #000 solid;
    border-bottom: 2px #000 solid;
    padding: 4px;
}
table thead th:first-child, table tbody td:first-child{
    border-left: 2px #000 solid;
}
#rates td input{
    width: 50px;
}
#transactions th:nth-child(3), td:nth-child(3) {
    width: 30px;
}
/*import popup*/
.popup1{
    width: 99%;
    height: 99%;
    z-index: 2;
    position: absolute;
}
.import{
    position: absolute;
    width: 80%;
    height: 70%;
    top: 10%;
    left: 10%;
    background-color: #d3d3d3;
    padding: 30px;
}
.import textarea{
    width: 100%;
    height: 90%;
}
.hide{
    display: none;
}
/*waiting popup*/
.popup2{
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    background-color: #ffffffd1;
}
.wait{
    position: absolute;
    width: 600px;
    min-height: 100px;
    max-height: 300px;
    top: 30%;
    left: 35%;
    background-color: #d3d3d3;
    box-shadow: 10px 20px 30px #79797a;
    padding: 10px;
}
.popup2 > input{
    position: absolute;
    top: 28%;
    left: 35%;
}
/*video popup*/
.video{
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    background-color: #ffffffd1;
}
.video .my-player{
    width: 50%;
    position: relative;
    top: 20%;
    left: 25%;
}
#my-player{
    width: 100%;
}