<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Helpful Flows</title>
        <script src="https://kit.fontawesome.com/8e52a98e38.js" crossorigin="anonymous"></script>
        <script src="mermaid.min.js"></script>
        <script src="flow-controller.js" type="module"></script>
        <link rel="stylesheet" href="./flows.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Helpful Flows</h1>
                <p>This isn't completed yet, but it's a work in progress.</p>
            </div>

            <div class="flow-section">
                <!-- Main Flow Diagram -->
                <div class="flow-container">
                    <label for="flow-select">Select a flow</label>
                    <select id="flow-select" v-model="selectedFlow" @change="switchFlow(selectedFlow)">
                        <option value="">Select a flow</option>
                        <option v-for="flow in flows" :key="flow.id" :value="flow.id">{{ flow.name }}</option>
                    </select>
                    <div v-if="mermaidFlow" class="flow-title"><span :class="mermaidFlow.icon"></span> {{ mermaidFlow.name }}</div>
                    <div v-if="mermaidFlow" class="mermaid-container" v-html="mermaidFlow.flow"></div>
                    <div v-else class="flow-empty-message">Select a flow to view.</div>
                </div>

                <!-- Options Section -->
                <div v-if="mermaidFlow" v-for="note in mermaidFlow.notes" :key="note.id" class="notes-section" :class="note.type">
                    <div class="notes-container">
                        <h3 class="notes-title">{{ note.title }}</h3>
                        <div class="note-card">
                            <ul class="notes-list">
                                <li v-for="item in note.list" :key="item">{{ item }}</li>
                            </ul>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
