@import '/Rain-Support-Tools/src/common/navigation/nav-menu.css';
body{
    background-image: linear-gradient(135deg, #337AB7, #17234B);
    min-height: 96vh;
}
/*header styles*/
h1,h2,h3,h4,h5,h6{
    text-align: center;
    margin: 8px 0;
}
h1{
    font-size: 54px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 46px;
}
h4{
    font-size: 42px;
}

h5{
    font-size: 38px;
}
h6{
    font-size: 34px;
}
/*table styles*/
table {
    background: #fff;
    margin: 10px;
}
/*button styles*/
.btn{
    border: unset;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    margin: 2px;
}

.btn.primary{
    background: #337ab7;
    color: #fff;
}
.btn.secondary{
    border: #DDDDDD solid 1px;
    background: #FFFFFF;
    color: #000000;
}
.btn.tertiary{
    background: #ff0000ab;
    color: #fff;
}
/*span close modal X*/
span.close{
    float: right;
    color: #b5b5b5;
}
span.close:hover{
    cursor: pointer;
}
/*update banner styles*/
.banner-wrapper {
    position: absolute;
    z-index: 10;
    left: calc(50% - 250px);
    width: 500px;
    background-color: #ffffff;
    padding: 16px;
    border: #000 solid 1px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}
.warning-text {
    color: red;
    font-size: 12px;
}
/*scrollbar styles*/
*::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
    margin: 4px;
}

*::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
    margin: 4px;
}

*::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
    margin: 4px;
}
/* controls help note displays */
.note-wrapper {
    display: flex;
    align-items: center;
}
.note-wrapper span.fa-question {
    background-color: #000;
    color: #fff;
    width: 12px;
    height: 12px;
    font-size: 9px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}
.component-container {
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    & > label {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 4px;
    }
    & > input {
        padding: 8px;
        border-radius: 4px;
        border: 1px solid #ddd;
    }
    & > input:focus {
        outline: none;
        border-color: #337AB7;
    }
}
/*data content styling*/
select{
    margin: 16px 0;
    height: 25px;
    border-radius: 8px;
    border: #DDDDDD solid 1px;
}
select:focus {
    outline: none;
    border-color: #337AB7;
}

textarea{
    width: 99%;
    height: 100px;
    border-color:#DDDDDD;
    border-radius: 4px;
    padding: 4px;
}