@import '/Rain-Support-Tools/src/common/navigation/nav-menu.css';
body{
    background-image: linear-gradient(135deg, #337AB7, #17234B);
    min-height: 96vh;
}
/*header styles*/
h1,h2,h3,h4,h5,h6{
    text-align: center;
    margin: 8px 0;
}
h1{
    font-size: 54px;
}
h2{
    font-size: 50px;
}
h3{
    font-size: 46px;
}
h4{
    font-size: 42px;
}

h5{
    font-size: 38px;
}
h6{
    font-size: 34px;
}
/*table styles*/
table {
    background: #fff;
    margin: 10px;
}
/*button styles*/
.btn{
    border: unset;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    margin: 2px;
}

.btn.primary{
    background: #337ab7;
    color: #fff;
}
.btn.secondary{
    border: #DDDDDD solid 1px;
    background: #FFFFFF;
    color: #000000;
}
.btn.tertiary{
    background: #ff0000ab;
    color: #fff;
}
/*span close modal X*/
span.close{
    float: right;
    color: #b5b5b5;
}
span.close:hover{
    cursor: pointer;
}
/*update banner styles*/
.banner-wrapper {
    position: absolute;
    z-index: 10;
    left: calc(50% - 250px);
    width: 500px;
    background-color: #ffffff;
    padding: 16px;
    border: #000 solid 1px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}
.warning-text {
    color: red;
    font-size: 12px;
}