@import '/Rain-Support-Tools/src/common/css/default.css';
@import '/Rain-Support-Tools/src/common/flow-format/flow-format.css';
@import '/Rain-Support-Tools/src/modules/dialog-ctrl.css';

/*site work table styles*/
#work-table tr > td:first-child span{
    cursor: pointer;
}

#work-table tr > td:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    border: #000 solid 1px;
    border-radius: 8px;
    padding: 8px;
    > div{
        margin: 6px 18px;
    }
    textarea{
        width: 500px;
    }
}

/*template work styles*/
#template{
    height: 220px;
}

#template > div{
    width: 29%;
    float: left;
    margin: 0 1px;
}

#template > div:last-child{
    width: 69%;
    float: left;
    margin: 0 1px;
}

#template textarea{
    width: 100%;
    height: 140px;
}