@import '/Rain-Support-Tools/common/css/default.css';
@import '/Rain-Support-Tools/common/flow-format/flow-format.css';
@import '/Rain-Support-Tools/modules/dialog-ctrl.css';
body{
    overflow-x: hidden;
}
#past-ticket-container{
    position: sticky;
    top: 0;
    z-index: 5;
}
#list-toggle{
    position: absolute;
    right: 15px;
    top: 10px;
    height: 20px;
    min-width: 18px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
past-tickets{
    position: absolute;
    top: 45px;
    right: 15px;
    width: 350px;
    background-color: #FFFFFF;
    border: #000 solid 1px;
    border-radius: 10px;
    translate: 410px;
    transition-duration: 0.7s;
    padding: 16px;
    z-index: 2;
    max-height: 500px;
    overflow-y: scroll;
    ul{
        list-style: none;
        padding: unset;
        margin: unset;
        li {
            margin: 5px 0;
            a{
            color: #000000;
            text-decoration: unset;
            }
        }
    }
}
past-tickets.active{
    translate: none;
}
past-tickets div{
    border: #dddddd solid 1px;
    border-radius: 8px;
    margin-bottom: 8px;
    max-height: 100px;
    overflow: hidden;
    position: relative;
}
past-tickets div:hover{
    border-color: #000;
    cursor: pointer;
    background-color: #EEEEEE;
}
past-tickets div > span.close{
    position: absolute;
    top: 5px;
    right: 5px;
}
past-tickets div > span.close::before{
    content: "X";
    font-family: sans-serif;
}
#salesforce-bug-calc-tips{
    background: #eee;
    width: 45%;
    position: absolute;
    top: 70px;
    left: 27vw;
    padding: 16px;
    z-index: 10;
    border-radius: 10px;
    border: #000 solid 2px;
}
.question-wrapper .question-title{
    width: 100%;
    border-bottom: #aaa solid 1px;
}