@import '/Rain-Support-Tools/src/common/css/default.css';
/*content wrapper*/
.content-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*Options list style*/
.payment_option_list ul{
    list-style: none;
    border: 3px #898787 solid;
    padding: unset;
    background-color: #fff;
}
.payment_option_list{
    width: 10%;
    min-width: 90px;
    float: right;
}
/*Calculator full display*/
.calculator{
    width: 50%;
    float: left;
}
.hide{
    display: none;
}
/*table design*/
table td{
    border:2px #6e6c6c solid;
    width: 120px;
}
td input{
    width: 80%;
}
#column-totals-row{
    height: 25px;
}
/*video player*/
.help-window{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.help-window div.video-js{
    width: 1000px;
    height: 500px;
}
.help-window div.video-js.vjsfullscreen{
    width:100%;
    height: auto;
}