<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./percentage-fixer.css" />
        <script src="/Rain-Support-Tools/src/common/vue/vue.global.prod.js"></script>
        <script src="./percentage-fixer.js" type="module"></script>
        <script src="https://kit.fontawesome.com/8e52a98e38.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="menu-wrapper">
            <nav-menu></nav-menu>
            <script src="/Rain-Support-Tools/src/common/navigation/nav-builder.js" type="module"></script>
        </div>
        <div id="percentage-fixer">
            <growl-ctrl ref="growlCtrl"></growl-ctrl>
            <div id="title-wrapper">
                <h1>Percentage Fixer</h1>
            </div>
            <div class="content-wrapper">
                <div id="input-wrapper">
                    <textarea v-model="inputValues" id="input-values" placeholder="Enter values here"></textarea>
                    <textarea v-model="outputValues" disabled id="output-values" placeholder="Output values will appear here" @click="copyOutputValues"></textarea>
                </div>
                <div id="action-wrapper">
                    <button @click="confirmActions" class="btn primary">Process Changes</button>
                    <div id="action-header">
                        <div class="action-header-item">Action</div>
                        <div class="action-header-item">Value</div>
                        <div class="action-header-item">Type</div>
                        <div class="action-header-spacer"></div>
                    </div>
                    <div id="action-list">
                        <div v-for="(action, index) in actions" :key="index" class="action-item">
                            <div class="toggle-wrapper">
                                <div class="toggle-wrapper-item">
                                    <label>Increase</label>
                                    <input type="checkbox" v-model="action.increase" value="Increase" @change="handleIncreaseChange(index)" />
                                </div>
                                <div class="toggle-wrapper-item">
                                    <label>Decrease</label>
                                    <input type="checkbox" v-model="action.decrease" value="Decrease" @change="handleDecreaseChange(index)" />
                                </div>
                            </div>
                            <input type="number" v-model="action.value" placeholder="Enter value" />
                            <div class="toggle-wrapper">
                                <div class="toggle-wrapper-item">
                                    <label>Percentage</label>
                                    <input type="checkbox" v-model="action.percentage" value="Percentage" @change="handlePercentageChange(index)" />
                                </div>
                                <div class="toggle-wrapper-item">
                                    <label>Dollar</label>
                                    <input type="checkbox" v-model="action.dollar" value="Dollar" @change="handleDollarChange(index)" />
                                </div>
                            </div>
                            <span class="action-item-remove fa-solid fa-trash" @click="removeAction(index)"></span>
                        </div>
                        <div class="add-action-wrapper">
                            <button @click="addAction" class="btn secondary add-action-button">+ Add Action</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>