#error_message{
    word-wrap: break-word;
    position: absolute;
    top: 10%;
    left: 40%;
    z-index: 1000;
    width: 400px;
    box-shadow: 2px 2px #F2DEDE;
    background-color: #F2DEDE;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    color: #AD4E4C;
    padding: 16px;
}
#error_message.hide{
    display: none;
}
#error_message > span{
    float: right;
    cursor: pointer;
    padding: 0px 5px;
}
#error_message > ul{
    list-style: decimal;
    padding-left: 20px;
}
#error_message ul{
    margin: unset;
}
#error_message ul ul{
    list-style-type: disc;
    padding-left: 15px;
}